# Eclipse
bin/
.cache
.classpath
.project
.settings
.groovy
generated-java/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Mac
.DS_Store

# Latex and Maven
target/

# Gradle
build
.gradle

# Velocity (and probably others)
*.log

# Latex (TexNicCenter)
*.tps
*.tmp